@import "variables.scss";

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin reset-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

@mixin mobile-positionner {
    min-width: 320px;
    padding: 0 20px;
}

@mixin desktop-positionner {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

@mixin flex-sb {
    display: flex;
    justify-content: space-between;
}
