/*progect colors*/
$main-color: #283645;
$bg-color: rgba(0, 0, 0, 0.3);
$darc-blue: #1d2631;
$white: #ffffff;
$black: #000000;
$grey: #485461;
$ligth-grey: #f2f2f2;
$slider-grey: #bec2c7;
$field-border: #e5e5e5;
$pink: #d22856;
$green: #2aab6d;

/*sizes and breakpoints*/
$tablet-width: 660px;
$desktop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
