/*progect colors*/
$main-color: #283645;
$bg-color: rgba(0, 0, 0, 0.3);
$darc-blue: #1d2631;
$white: #ffffff;
$black: #000000;
$grey: #485461;
$ligth-grey: #f2f2f2;
$slider-grey: #bec2c7;
$pink: #d22856;

/*sizes and breakpoints*/
$tablet-width: 660px;
$desktop-width: 960px;
