.page-footer {
    display: none;

    &--competition {
        display: block;
        min-width: 320px;
        padding-top: 39px;

        .logo__svg--competition {
            display: block;
            margin: 0 auto;
            margin-bottom: 41px;
        }

        .logo__glasses {
            display: block;

            path {
                fill: $pink;
            }
        }

        .social {
            @include reset-list;
            @include flex-sb;

            width: 180px;
            margin: 0 auto;
            margin-bottom: 35px;

            .social__link {
                display: block;
                width: 50px;
                height: 50px;

                border: 3px solid #e9ebec;
                border-radius: 50%;
                background: url('../img/icon-twitter.svg') no-repeat 50% 50%;

                .social__link:hover {
                    border: 3px solid $main-color;
                }

                .social__link:active {
                    opacity: 0.3;
                }
            }

            .social__link--fb {
                background: url('../img/icon-facebook.svg') no-repeat 50% 50%;
            }

            .social__link--yt {
                background: url('../img/icon-youtube.svg') no-repeat 50% 50%;
            }
        }

        .page-footer__copyright-link {
            @include flex-sb;

            width: 137px;
            justify-content: center;
            align-items: center;

            text-decoration: none;
        }

        .page-footer__copyright-link:hover {
            path {
                fill: $main-color;
            }
        }

        .page-footer__copyright-link:active {
            svg {
                opacity: 0.3;
            }
        }

        .page-footer__copyright {
            display: flex;
            margin-bottom: 25px;

            justify-content: center;
        }

        .page-footer__text {
            margin-right: 5px;

            font-size: 14px;
            line-height: 18px;
            color: $main-color;
            font-weight: 400;
        }
    }
}

@media (min-width: $tablet-width) {

    .page-footer {
        @include flex-sb;

        padding-top: 37px;
        padding-left: 20px;
        padding-right: 13px;
        padding-bottom: 38px;

        &__copyright-link {
            @include flex-sb;

            width: 137px;
            align-items: center;

            text-decoration: none;

            &:hover {
                path {
                    fill: $main-color;
                }
            }

            &:active {
                svg {
                    opacity: 0.3;
                }
            }
        }

        &__text {
            font-size: 14px;
            line-height: 58px;
            color: $main-color;
            font-weight: 400;
            text-decoration: none;
        }

    &__logo {

        &:hover {

                path {
                    fill: $pink;
                }
            }

        &:active {
            .logo__main--black {

                path {
                    fill: $main-color;
                }
            }
            opacity: 0.3;
        }
    }

    &--competition {
        padding-bottom: 0;

        .logo__glasses {
            display: block;
        }

        .social {
            width: 194px;
            padding-top: 4px;
            padding-right: 18px;
        }

        .page-footer__copyright-link {
            margin-bottom: 6px;
        }
    }
}

    .social {
        @include reset-list;
        @include flex-sb;

        width: 196px;
        padding-right: 20px;
        padding-top: 3px;

        &__link {
            display: block;
            width: 50px;
            height: 50px;

            border: 3px solid #e9ebec;
            border-radius: 50%;
            background: url('../img/icon-twitter.svg') no-repeat 50% 50%;

            &--fb {
                background: url('../img/icon-facebook.svg') no-repeat 50% 50%;
            }

            &--yt {
                background: url('../img/icon-youtube.svg') no-repeat 50% 50%;
            }

            &:hover {
                border: 3px solid $main-color !important;
            }

            &:active {
                opacity: 0.3 !important;
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .page-footer {
        @include desktop-positionner;

        padding-top: 71px;
        padding-bottom: 40px;
        padding-right: 3px;

        &__link {
            padding-top: 5px;
            padding-bottom: 0;
        }

        &__text {
            font-size: 18px;
            line-height: 58px;
      }

      &__copyright-link {
          width: 160px;
      }

      &--competition {
          padding-top: 22px;

          .logo__glasses {
              display: none;
          }

          .page-footer__copyright-link {
              width: 160px;
          }

          .page-footer__text {
              font-size: 18px;
              line-height: 58px;
          }

          .social {
              width: 192px;
              padding-left: 15px;
              padding-right: 0;
          }
      }
    }

    .social {
        width: 224px;
        padding-top: 3px;
        padding-bottom: 0;
        padding-left: 27px;
    }
}
