.contact-us {
    @include mobile-positionner;

    &__list {
        @include reset-list;
    }

    &__title {
        text-align: center;
    }

    &__info {
        text-align: center;
    }

}

@media (min-width: $tablet-width) {
    .contact-us {
        &__list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__item {
            width: 50%;
        }
    }
}

@media (min-width: $desktop-width) {
    .contact-us {

        &__list {
            @include desktop-positionner;
        }

        &__item {
            width: 33%;
        }
    }
}
