.download-app {
    @include mobile-positionner;
    padding-top: 29px;
    padding-bottom: 30px;

    background: $darc-blue;

    &__slogan {
        display: none;
    }

    &__download-link {
        display: block;
        max-width: 350px;
        padding: 13px 15px;
        margin: 0 auto;
        margin-bottom: 36px;

        text-align: center;
        color: $white;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;

        border: 3px solid $white;
        border-radius: 100px;

        &:hover {
            background-color: $white;

            color: $pink;
            transition: all 0.4s;
        }

        &:active {
            color: rgba(210, 40, 84, 0.3);
        }
    }

    &__list {
        @include reset-list;
        @include flex-sb;

        align-items: center;
        max-width: 450px;
        padding: 0 37px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    &__item {

        &--top {
            align-self: flex-end;
        }
    }

    &__desc {
        @include reset;

        color: $white;
        text-align: center;
    }
}

@media(min-width: $tablet-width) {
    .download-app {
        position: relative;
        z-index: 1;

        width: 302px;
        padding-top: 38px;
        padding-right: 0;
        padding-bottom: 109px;

        background: transparent;

        &__slogan {
            display: block;
            margin-bottom: 30px;

            color: $white;
            font-size: 40px;
            line-height: 48px;
            font-weight: 300;
            text-align: center;
        }

        &__download-link {
            margin-bottom: 47px;
        }

        &__list {
            padding: 0 48px;
            margin-bottom: 27px;
        }

        &__desc {
            font-size: 18px;
            line-height: 24px;
            font-weight: 300;
        }
    }
}

@media (min-width: $desktop-width) {
    .download-app {
        padding-top: 88px;
        padding-bottom: 122px;
        padding-left: 0;
        padding-right: 20px;

        &__slogan {
            margin-bottom: 52px;

            font-size: 50px;
            line-height: 60px;
        }

        &__download-link {
            padding: 15px 15px;
            margin-bottom: 70px;

            font-size: 21px;
            line-height: 18px;
        }

        &__list {
            margin-bottom: 44px;
        }
    }
}
