.logo {

    &__svg {
        margin-top: -17px;
        margin-left: -72px;
    }

    &__main {

        &--black {

            path {
                fill: $main-color;
            }
        }
    }

    &__star-glasses {
        display: none;
    }

    &__glasses {
        display: none;
    }

    &:hover,
    &:focus {

        path {
            fill: $pink;
        }
    }

    &:active {

        path {
            fill: $white;
            opacity: 0.3;
        }
    }
}

@media (min-width: $tablet-width) {
    .logo {
        &__svg {
            margin-top: 0;
            margin-left: 0;
        }

        &__glasses {
            display: block;

            &--black {

                path {
                    fill: $pink;
                }
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .logo {

        &__star-glasses {
            display: block;

            &--pink {

                path:not(.logo__star) {
                    fill: $pink;
                }
            }
        }

        &__glasses {
            display: none;
        }
    }
}
