.page-header {
    position: relative;

    background-color: $bg-color;
    background-image: url('../img/bg-back-mobile@1x.jpg');
    background-repeat: no-repeat;
    background-position: center 0px;

    &__wrapper {

        &::after {
            content: '';

            display: block;
            width: 320px;
            height: 395px;
            margin: 0 auto;

            background-image: url('../img/iphone-hand-mobile@1x.png');
            background-repeat: no-repeat;
            background-position: bottom left;
        }
    }

    &__inner-wrapper {
        @include mobile-positionner;
        @include flex-sb;

        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 23px;
        padding-bottom: 14px;

        background-color: $bg-color;

        &--open {
            padding-bottom: 13px;

            background-color: $main-color;
            border-bottom: 1px solid $black;

            .page-header__toggle {
                width: 28px;
                height: 28px;

                &::before {
                    top: 12px;
                    left: 0;

                    width: 28px;

                    box-shadow: none;
                    border-radius: 2px;
                    transform: rotate(-45deg);
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 12px;
                    left: 0;

                    height: 4px;
                    width: 28px;

                    background: $white;
                    border-radius: 2px;
                    box-shadow: none;
                    transform: rotate(45deg);
                }

                &:hover {
                    &::after,
                    &::before {
                        background: $pink;
                        box-shadow: none;
                    }
                }

                &:active {
                    &::after,
                    &::before {
                        opacity: 0.3;
                    }
                }
            }

            .page-header__main-nav {
                opacity: 1;

                clip: rect(auto, auto, 400px, auto);
            }
        }
    }

    &__toggle {
        @include reset;

        position: relative;

        width: 50px;
        height: 28px;
        margin-left: auto;

        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;

        &::before {
            content: '';
            position: absolute;
            top: 35%;
            left: 0;

            height: 4px;
            width: 50px;

            background: $white;
            box-shadow: 0 10px 0 0 $white,
                        0 -10px 0 0 $white;
        }

        &:hover {
            &::before  {
                background: $pink;
                box-shadow: 0 10px 0 0 $pink,
                            0 -10px 0 0 $pink;
            }
        }

        &:active {
            &::before  {
                opacity: 0.3;
            }
        }
    }

    &__main-nav {
        position: absolute;
        top: 67px;
        left: 0;
        right: 0;
        z-index: 5;
        opacity: 0;

        clip: rect(auto, auto, 0px, auto);
        transition: clip 0.4s;
    }

    &__list {
        @include reset-list;

        width: 100%;
    }

    &__item {
        &:hover:not(&--active) {
            .page-header__link {
                color: $pink;
            }
        }

        &:active:not(&--active) {
            .page-header__link {
                color: rgba(255, 255, 255, 0.3);
            }
        }

        &--active {
            .page-header__link{
                cursor: default;
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    &__link {
        width: 100%;
        padding: 15px 10px;
        display: block;

        color: $white;
        line-height: 32px;
        text-decoration: none;
        border-bottom: 1px solid $black;
        border-top: 1px solid $grey;
        text-align: center;

        background-color: $main-color;
    }

    &--competition {
        padding-bottom: 54px;

        .page-header__wrapper {
            margin-bottom: 30px;

            &::after {
                display: none;
            }
        }
    }

    &--photos {
        padding-bottom: 84px;

        .page-header__wrapper {
            margin-bottom: 30px;

            &::after {
                display: none;
            }
        }
    }
}

@media (min-width: $tablet-width) {
    .page-header {
        background-image: url('../img/bg-back-tablet@1x.jpg');

        &__wrapper {
            padding-bottom: 35px;
            margin-bottom: 20px;

            &::after {
                position: absolute;
                z-index: 0;
                left: calc(50% - 330px);

                width: 660px;
                height: 620px;
                margin-top: -2px;

                background-image: url('../img/iphone-hand-tablet@1x.png');
                background-position: center bottom;
            }
        }

        &__inner-wrapper {
            padding-top: 27px;
            padding-bottom: 37px;

            &--open {
                padding-bottom: 36px;
            }
        }

        &__toggle {
            margin-top: 17px;
        }

        &__main-nav {
            top: 111px;
        }

        &--competition {
            padding-bottom: 79px;

            .page-header__wrapper {
                margin-bottom: 35px;
            }
        }

        &--photos {
            padding-bottom: 139px;

            .page-header__wrapper {
                margin-bottom: 35px;
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .page-header {
        background-image: url('../img/bg-back-desktop@1x.jpg');
        background-position: center 0;

        &__wrapper {
            width: 100%;
            padding-top: 27px;
            padding-bottom: 32px;

            background-color: $bg-color;

            &::after {
                left: calc(50% - 480px);

                width: 960px;
                height: 776px;
                margin-top: -1px;

                background-image: url('../img/iphone-hand-desktop@1x.png');
                background-position: -29% 100%;
            }
        }

        &__inner-wrapper {
            width: 960px;
            margin: 0 auto;
            padding: 0 10px;

            background-color: transparent;

            &--open {
                border-bottom: none;
            }
        }

        &__toggle {
            display: none;
        }

        &__main-nav {
            position: static;
            opacity: 1;
        }

        &__list {
            @include flex-sb;
            width: 620px;
            padding-top: 3px;
        }

        &__item {
            position: relative;

            &--active {

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    height: 2px;
                    background: $white;
                }

                .page-header__link {
                    color: $white;
                }
            }
        }

        &__link {
            width: auto;
            padding: 15px 0;

            color: $white;
            line-height: 18px;
            border: none;

            background-color: transparent;
        }

        &__pos-wrapper {
            @include desktop-positionner;
        }

        &--competition {
            margin-bottom: 92px;
            padding-bottom: 101px;

            .page-header__wrapper {
                margin-bottom: 63px;

            }
        }

        &--photos {
            margin-bottom: 92px;
            padding-bottom: 101px;

            .page-header__wrapper {
                margin-bottom: 63px;

            }
        }
    }
}
