.rates {
    @include mobile-positionner;
    width: 100%;
    overflow: hidden;

    &__list {
        width: 300%;
        margin-left: -100%;
    }

    &__cell {
        width: 33%;
        border: 1px solid #e5e5e5;

        &--feature,  &--empty {
            display: none;
        }

        &--empty {
           border: none;
       }
    }
}

@media (min-width: $tablet-width) {

    .rates {
        &__list {
            width: 100%;
            margin-left: 0;
        }

        &__cell {
            width: 25%;

            &--feature,  &--empty {
                display: table-cell;
            }
        }

        &__slider-controls {
            display: none;
        }
    }
}


@media (min-width: $desktop-width) {

    .rates {
        @include desktop-positionner;
    }
}
